
/*------------------------------------------------------VARIABLES------------------------------------------*/
:root {

    /*FIXED DIMENSIONS*/
    --footer-height: 100px;
    --nav-width: 300px;
    --header-height: 100px;

    /*COLORS*/
    --footer-bg-color: #282828;
    --main-bg-color: #141922;
    --nav-bg-color: black;
    --header-bg-color: rgba(255, 255, 255, 0.1);

    --active-text: white;
    --inactive-text: #6e6e6e;

    --navigation-color: #7d7f84;

    --green-bar: #adff2f;

    /*PADDINGS*/
    --base-padding: 1rem;

    
}

/*------------------------------------------------------UNCHANGEABLE PARTS---------------------------------*/
html {


    font-family: 'Montserrat', sans-serif;

    /*DEBUG*/
    font-size: 1rem;
    

}

/*------------------------------------------------------COMMON PARTS---------------------------------------*/
h1,h2,h3,h4 {

    color: var(--active-text);

}

img {

    width: 100%;

}

/*------------------------------------------------------DESKTOP FIRST-------------------------*/

/* VIEWPORT */
#viewport {

    width: 100%;
    height: 100vh;    

} 

/* NAV */
nav.sidebar {

    width: var(--nav-width);
    top: 0;
    left: 0;
    height: calc(100% - var(--footer-height));
    background-color: var(--nav-bg-color);    

}

/* MAIN */
main {

    top: 0;
    right: 0;
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--footer-height));
    overflow: auto;
    background-color: var(--main-bg-color);
}

main nav.navigation {

    margin-top: calc(var(--header-height) + var(--base-padding));
    margin-left: auto;
    margin-right: auto;
    color: var(--navigation-color);
    font-weight: 600;
    

}

main nav.navigation ul {

    list-style-type: none;

}   

main nav.navigation ul li {

    margin: 0 calc(var(--base-padding) / 2);

}

main nav.navigation ul li.bordered {

    border-bottom: 1px solid var(--green-bar);

}

/* SECTION */
section {

    /* margin-top: calc(var(--header-height) + var(--base-padding)); */
    margin-top: var(--base-padding);
}

section .card {

    width: calc(100% / 6);
    padding: var(--base-padding);

}

section h2 {

    font-size: 2rem;
    margin: 0 var(--base-padding);

}

section h3 {

    padding: var(--base-padding) 0;

}

section h4 {

    color: var(--inactive-text);

}

section .subtitle {

    margin: 0 var(--base-padding);
    /* padding-top: var(--base-padding); */
    

}

section.popular .card img {

    border-radius: 50%;

}

/* HEADER */
header {

    width: calc(100% - var(--nav-width));
    height: var(--header-height);
    background-color: var(--header-bg-color);
    
    right:0;
    top: 0;

}

header a {
    
    display: block;
    text-decoration: none;
    color: var(--active-text);
    font-weight: 600;
    border: 1px solid var(--active-text);
    padding: var(--base-padding);
    margin-right: calc(var(--base-padding) * 3);
    border-radius: 50px;

}

/* FOOTER */
footer {

    bottom: 0;
    height: var(--footer-height);
    width: 100%;
    background-color: var(--footer-bg-color);

}

/*------------------------------------------------------SMALL DESKTOP (max-width 1100px)------*/
@media screen and (max-width: 1100px) {
    

    /* VIEWPORT */
    #viewport {



    } 

    /* MAIN */
    main {



    }

    /* NAV */
    nav {



    }

    /* SECTION */
    section {

        

    }

    section .card {

        width: calc(100% / 4);

    }

    /* HEADER */
    header {



    }

    /* FOOTER */
    footer {

        

    }

}

/*------------------------------------------------------TABLET (max-width 700px)------*/
@media screen and (max-width: 700px) {
    

    /* VIEWPORT */
    #viewport {



    } 

    /* MAIN */
    main {



    }

    /* NAV */
    nav {



    }

    /* SECTION */
    section {

        

    }

    section .card {

        width: calc(100% / 2);

    }

    /* HEADER */
    header {



    }

    /* FOOTER */
    footer {

        

    }

}

/*------------------------------------------------------PHONE (max-width 600px)------*/
@media screen and (max-width: 600px) {
    
    :root {

        --nav-width: 50px;   
        
    }

    /* VIEWPORT */
    #viewport {



    } 

    /* MAIN */
    main {



    }

    /* NAV */
    nav {



    }

    /* SECTION */
    section {



    }

    /* HEADER */
    header {



    }

    /* FOOTER */
    footer {

        

    }

}

