
/*------------------------------------------------------VARIABLES------------------------------------------*/
:root {

    /*FIXED DIMENSIONS*/
    --footer-height: 100px;
    --nav-width: 300px;
    --header-height: 100px;
    

    /*COLORS*/
    --footer-bg-color: #282828;
    --main-bg-color: #141922;
    --nav-bg-color: black;
    --header-bg-color: rgba(255, 255, 255, 0.1);

    --active-text: white;
    --inactive-text: #6e6e6e;

    --navigation-color: #7d7f84;

    /*GREEN BAR*/
    --green-bar: #adff2f;
    --green-bar-left: 3px solid #adff2f;
    --border-active-dimensions: 3px;

    /*PADDINGS*/
    --base-padding: 1rem;

    
}

/*------------------------------------------------------UNCHANGEABLE PARTS---------------------------------*/
html {


    font-family: 'Montserrat', sans-serif;

    /*DEBUG*/
    font-size: 1rem;
    

}

/*------------------------------------------------------COMMON PARTS---------------------------------------*/
h1,h2,h3,h4 {

    color: var(--active-text);

}

img {

    width: 100%;

}

ul {

    list-style-type: none;

}   

/*------------------------------------------------------DESKTOP FIRST-------------------------*/

/* VIEWPORT */
#viewport {

    width: 100%;
    height: 100vh;    

} 

/* NAV */
nav.sidebar {

    width: var(--nav-width);
    top: 0;
    left: 0;
    height: calc(100% - var(--footer-height));
    background-color: var(--nav-bg-color);    

}

nav.sidebar .element {

    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
    padding-top: calc(var(--base-padding) / 5);
    padding-bottom: calc(var(--base-padding) / 5);
    font-weight: 600;

}

nav.sidebar .active {

    color: var(--active-text);

}

nav.sidebar .inactive {


    color: var(--inactive-text);

}

nav.sidebar .bordered {

    border-left: var(--green-bar-left);

}

nav.sidebar .visible-xs {

    display: none;

}

nav.sidebar .img-grow-large {

    width: 20%;

}

nav.sidebar .img-grow-medium {

    width: 15%;

}

nav.sidebar .img-grow-small {

    width: 10%;

}

nav.sidebar span {

    margin-left: calc(var(--base-padding) / 3);

}

nav.sidebar .circled {

    background-color: var(--inactive-text);
    border-radius: 30px;

}

/* MAIN */
main {

    top: 0;
    right: 0;
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--footer-height));
    overflow: auto;
    background-color: var(--main-bg-color);
}

main nav.navigation {

    margin-top: calc(var(--header-height) + var(--base-padding));
    margin-left: auto;
    margin-right: auto;
    color: var(--navigation-color);
    font-weight: 600;
    

}

main nav.navigation ul li {

    margin: 0 calc(var(--base-padding) / 2);

}

main nav.navigation ul li.bottom-bordered {

    border-bottom: var(--border-active-dimensions) solid var(--green-bar);

}



/* SECTION */
section {

    /* margin-top: calc(var(--header-height) + var(--base-padding)); */
    margin-top: var(--base-padding);
}

section .card {

    width: calc(100% / 6);
    padding: var(--base-padding);

}

section h2 {

    font-size: 2rem;
    margin: 0 var(--base-padding);

}

section h3 {

    padding: var(--base-padding) 0;

}

section h4 {

    color: var(--inactive-text);

}

section .subtitle {

    margin: 0 var(--base-padding);
    /* padding-top: var(--base-padding); */
    

}

section.popular .card img {

    border-radius: 50%;

}

/* HEADER */
header {

    width: calc(100% - var(--nav-width));
    height: var(--header-height);
    background-color: var(--header-bg-color);
    
    right:0;
    top: 0;

}

header a {
    
    display: block;
    text-decoration: none;
    color: var(--active-text);
    font-weight: 600;
    border: var(--border-active-dimensions) solid var(--active-text);
    padding: var(--base-padding);
    margin-right: calc(var(--base-padding) * 3);
    border-radius: 50px;

}

/* FOOTER */
footer {

    bottom: 0;
    height: var(--footer-height);
    width: 100%;
    background-color: var(--footer-bg-color);

}

footer .side-footer {

    width: var(--nav-width);
    height: var(--footer-height);

    /*DEBUG*/
    background-color: yellow;

}

footer .center-footer {

    width: 50%;
    height: var(--footer-height);

    /*DEBUG*/
    background-color: orangered;

}



/*------------------------------------------------------SMALL DESKTOP (max-width 1100px)------*/
@media screen and (max-width: 1100px) {
    

    /* VIEWPORT */
    #viewport {



    } 

    /* MAIN */
    main {



    }

    /* NAV */
    nav {



    }



    /* SECTION */
    section {

        

    }

    section .card {

        width: calc(100% / 4);

    }

    /* HEADER */
    header {



    }

    /* FOOTER */
    footer {

        

    }

}

/*------------------------------------------------------TABLET (max-width 700px)------*/
@media screen and (max-width: 700px) {
    

    /* VIEWPORT */
    #viewport {



    } 

    /* MAIN */
    main {



    }

    /* NAV */
    nav {



    }

    /* SECTION */
    section {

        

    }

    section .card {

        width: calc(100% / 2);

    }

    /* HEADER */
    header {



    }

    /* FOOTER */
    footer {

        

    }

}

/*------------------------------------------------------PHONE (max-width 600px)------*/
@media screen and (max-width: 600px) {
    
    :root {

        --nav-width: 50px;   
        
    }

    /* VIEWPORT */
    #viewport {



    } 

    /* MAIN */
    main {



    }

    /* NAV */
    nav {



    }

    nav.sidebar {

       

    }

    nav.sidebar .invisible-xs {

        display: none;
    
    }

    nav.sidebar .visible-xs {

        display: inline;

    }

    nav.sidebar .element {

        
        padding: calc(var(--base-padding) / 10);
        padding-bottom: var(--base-padding); 
        
    
    }

    nav.sidebar .img-grow-large, 
    nav.sidebar .img-grow-medium,
    nav.sidebar .img-grow-small {
    
        width: 100%;
    
    }

    nav.sidebar .bordered {

        border: 0;
    
    }



    /* SECTION */
    section {



    }

    /* HEADER */
    header {



    }

    /* FOOTER */
    footer {

        

    }

}

